@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* outline: 5px solid red; */
}

html {
  background: #fff;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  padding: 2em;
}

@media screen and (min-width: 480px) {
  main {
    flex-direction: row;
    padding: 1em;
    min-height: 89vh;
  }

  figure {
    display: flex;
  }
}

.header {
  font-family: Inconsolata, monospace;
  font-weight: 700;
  font-size: 1.4em;
  line-height: 1.2em;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #333;
  padding: 1em;
}

@media screen and (min-width: 480px) {
  .header {
    padding-bottom: 0;
  }
}

.footer {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 0.8em;
  line-height: 0.9em;
  text-align: center;
  color: #bdbdbd;
  margin-top: auto;
}

img {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  img {
    width: 80%;
    margin: auto;
  }
}

article {
  margin-top: 2em;
}

@media screen and (min-width: 480px) {
  article {
    margin-top: 3em;
  }
}

.news {
  font-family: "Space Mono", monospace;
  font-style: normal;
}

.title {
  color: #333;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.2em;
  letter-spacing: -0.035em;
  margin-bottom: 1em;
}

@media screen and (min-width: 480px) {
  .title {
    font-size: 3em;
    font-weight: 900;
    line-height: 1.2em;
  }
}

.paragraph {
  color: #4f4f4f;
  font-weight: 400;
  font-size: 1.4em;
  line-height: 1em;
  letter-spacing: -0.035em;
}

@media screen and (min-width: 480px) {
  .paragraph {
    font-size: 1.8em;
    font-weight: 500;
    line-height: 1.4em;
  }
}

.btn {
  background: #333;
  border: none;
  color: #fff;
  padding: 2.4vh 3vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 2em;
  letter-spacing: -0.035em;
  margin-top: 5em;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .btn {
    margin-top: 4em;
  }
}
